@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-family: 'montserrat', sans-serif;
    background: url(../images/ondas.jpg) no-repeat center center;
    background-size: cover;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

.container__div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

.cabecalho {
    display: flex;
    background-color: #e2e2e2;
    box-shadow: 0px 0px 3vh rgba(0, 0, 0, 5);
    border-radius: 0 0 0.8vw 0.8vw;
    margin-bottom: 5vh;
}

.cabecalho a {
    color: #000;
    font-size: 1.5vw;
    border-radius: 0.8vw;
    transition: 0.2s;
    height: 50%;
}

.cabecalho a:hover {
    color: #e2e2e2;
    background-color: #0A363E;
    box-shadow: 0px 0px 0.8vw rgba(0, 0, 0, 0.5);
}

.nav__bar {
    width: 100%;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin-right: 3vw;
    margin-left: 3vw;
}

.nav__logo h1 {
    color: #000;
    font-size: 1.5vw;
}

.tartaruga {
    width: 4vw;
    transition: 0.2s;
    margin-right: 1vw;
}

.nav__navinha {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav__navinha a {
    padding: 0.4em 0.5em;
    margin: 0 1vw;
}

.equipe {
    text-decoration: underline 0.2vw;
    text-underline-offset: 0.4vh;
}

.login {
    padding: 0.4em 0.5em;
    margin: 0 3vw 0 0;
}

.section {
    display: flex;
    background-color: #e2e2e2;
    width: 80vw;
    align-items: center;
    justify-content: left;
    border-radius: 0.8vw;
    box-shadow: 0px 0px 3vh rgba(0, 0, 0, 1);
}

.section img {
    width: 25%;
    padding: 1vw 0 1vw 1vw;
}

.article__conteudo p {
    color: #000;
    font-size: 1.7vw;
    padding: 1vw 2vw;
}

.container__sidebar {
    display: flex;
    flex-direction: column;
    background-color: #e2e2e2;
    border-radius: 0.8vw;
    box-shadow: 0px 0px 3vh rgba(0, 0, 0, 1);
    width: 15vw;
    align-items: center;
}

.mini__section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vw 0;
    height: 33.3%;
}

.mini__section p {
    color: #000;
    font-size: 1.3vw;
    padding: 1vw;
}

.img-github {
    width: 4vw;
}

@media(max-width:768px) {

    .cabecalho a {
        font-size: 2.5vw;
    }

    .section h2 {
        font-size: 2vw;
    }

    .section p {
        font-size: 3vw;
    }

    .section img {
        width: 40%;
    }

    .victor3 {
        margin-bottom: 3vw;
    }
    
    .container {
        flex-direction: column;
        align-items: center;
    }

    .container__sidebar {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 65vw;
    }

    .img-github {
        width:6vw;
    }
}

@media(max-width:426px) {

    .cabecalho a {
        font-size: 3.5vw;
    }

    .section {
        flex-direction: column;
    }

    .section h2 {
        font-size: 4vw;
    }

    .section p {
        font-size: 4vw;
        text-align: center;
    }

    .container__sidebar a {
        font-size: 8vw;
    }

    .img-github {
        width:8vw;
    }

}